body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../img/compo_super.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.center-div{
    margin: 0 auto;
    width: 50%;
}